main {
  position: relative;
}

.container {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%);
  width: fit-content;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.requirements {
  color: #fff;
}

.requirements ul {
  list-style-type: circle;
  margin-left: 1rem;
}
