footer {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));
  color: #fff;
  padding: 0.4rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright {
  font-size: 0.8rem;
}
