.motorcycle__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.motorcycle__header__image {
  border-radius: 9px;
  overflow: hidden;
}

.motorcycle__header__info {
  padding-inline: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.motorcycle__header__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.motorcycle__header__content__title {
  position: relative;
}

.motorcycle__header__content__title::before {
  position: absolute;
  content: '';
  background-color: rgba(155, 155, 155, 0.6);
  height: 1px;
  width: 100%;
  bottom: -0.25rem;
}

.motorcycle__header__specs {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
}

@media (max-width: 60em) {
  .motorcycle__header {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
}

@media (max-width: 50em) {
  .container {
    width: 100%;
    padding-inline: 1rem;
  }

  .motorcycle__header__info {
    padding-inline: 0.5rem;
  }
}
