@import 'components/components.css';
body {
  min-height: 110vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  position: relative;
  overflow-y: hidden;
}

h1 {
  font-size: 6rem;
  font-weight: 600;
  color: #fff;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
}

p {
  font-size: 1.2rem;
  color: #fff;
}

.bg-img {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background: url('../images/bg-img-2.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  filter: brightness(0.5);
}

.link {
  color: #fff;
  text-decoration: underline;
}

@media (max-width: 100em) {
  h1 {
    font-size: 5rem;
  }
}

@media (max-width: 83.125em) {
  h1 {
    font-size: 4rem;
  }
}

@media (max-width: 31.25em) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 21.875em) {
  h2 {
    font-size: 2rem;
  }
}
