@import 'components/components.css';

:root {
  --form-width: 22rem;

  --color-danger: #d2232d;
  --color-danger-hover: #b2232d;
  --color-success: #02864a;
  --color-success-hover: #02622a;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

main {
  position: relative;
  padding-block: 5rem;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
}

h3 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
}

p {
  font-size: 1.2rem;
  color: #fff;
}

span {
  color: #fff;
}

a {
  color: #fff;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 80%;
  margin: 0 auto;
  min-height: 110vh;
}

.bg-img {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background: url('../images/bg-img-2.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  filter: brightness(0.5);
}

.link {
  color: #fff;
  text-decoration: underline;
}
