@import 'components/components.css';
body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;

  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h1 {
  font-size: 10rem;
  font-weight: 600;
}
