.header__container {
  padding: 0.5rem 6rem 0.5rem 2rem;
  background: rgba(0, 0, 0, 1);
  color: #fff;

  display: flex;
  align-items: center;
  gap: 3rem;
}

.header__logo__link {
  margin-right: auto;
}

.header__logo {
  height: 2.4rem;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.mode-switch {
  margin-right: 2rem;
}

.header__nav a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.active::before {
  position: absolute;
  content: '';
  left: -1.2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
}
