.container a {
  align-self: flex-start;
}

h1 {
  width: 40%;
  font-size: 6rem;
}
/* 1330px */
@media (max-width: 83.125em) {
  h1 {
    font-size: 5rem;
  }
}

/* 1100px */
@media (max-width: 68.75em) {
  h1 {
    width: 60%;
  }
}

/* 800px */
@media (max-width: 50em) {
  h1 {
    width: 100%;
  }
}

/* 600px */
@media (max-width: 37.5em) {
  h1 {
    font-size: 4rem;
  }
}
