.container {
  padding-left: 5%;
  padding-top: 10%;
}

.links {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  flex-wrap: wrap;
}

@media (max-width: 50em) {
  .container {
    padding-left: 0;
    max-width: var(--form-width);
  }
}
