form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  position: relative;

  max-width: var(--form-width);
}

.form__control__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  max-width: var(--form-width);
}

.form__control span {
  position: absolute;
  right: 1rem;
  color: #858585;
}

.form__control {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;

  max-width: var(--form-width);
  position: relative;
}

.form__control--radio {
  display: flex;
  gap: 2rem;
  color: #fff;
  width: 100%;
}

.form__control--checkbox {
  display: flex;
  gap: 0.5rem;
  color: #fff;
}

.form__input {
  padding: 0.5rem 1rem;
  border: 1px solid #000;
  border-radius: 9px;
  width: 100%;
}

.form__label {
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s;
  /* z-index: 10; */
  pointer-events: none;
  color: #fff;
}

.form__control--file {
  display: flex;
  gap: 1rem;
}

.form__control--file input {
  color: #fff;
}

.form__input--hidden {
  display: none;
}

.form__control--file label {
  color: #fff;
  cursor: pointer;
  background-color: #000;
  border-radius: 9px;
  border: 1px solid #fff;
  padding-inline: 1rem;

  display: flex;
  gap: 1rem;
  align-items: center;
}

.form__control--file img {
  background: #fff;
  width: 4rem;
  height: 3rem;
  object-fit: cover;
}

.form__input:focus + .form__label {
  transform: translate(-1rem, -2.2rem);
  opacity: 1;
}

.form__input::placeholder {
  color: #858585;
}

.form__input:focus::placeholder {
  color: transparent;
}

.select__unselected {
  color: #858585;
}

.form__buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.form__buttons a,
.form__buttons button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
