form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.form__control {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  max-width: 30rem;
  position: relative;
}

.form__control--radio {
  display: flex;
  gap: 0.5rem;
  color: #fff;
}

.form__control--checkbox {
  display: flex;
  gap: 0.5rem;
  color: #fff;
}

.form__input {
  padding: 0.5rem 1rem;
  border: 1px solid #000;
  border-radius: 9px;
  /* max-width: 60%; */
  /* z-index: 2; */
}

.form__label {
  /* max-width: 40%; */
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s;
  /* z-index: 10; */
  pointer-events: none;
  color: #fff;
}

.form__input:focus + .form__label {
  transform: translate(-1rem, -2.2rem);
  opacity: 1;
}

.form__input:focus::placeholder {
  color: transparent;
}

.form__submit {
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  border-radius: 9px;
  color: #fff;
  background-color: #000;
}
