main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.page {
  display: flex;
  align-items: center;
  gap: 1rem;

  font-size: 1.2rem;
  color: #fff;
}
