.confirm__modal {
  background-color: #000;
  width: 10rem;
  height: 10rem;
  z-index: 9999;
  color: #fff;
  border-radius: 9px;
  box-shadow: 2px 2px 5px 0 rgba(155, 155, 155, 0.2);
  overflow: hidden;
  width: 20rem;
  max-width: 100%;
  height: fit-content;

  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  transform-origin: left;

  visibility: hidden;
  scale: 0.01;

  transition: all 0.25s ease;
}

.confirm__modal--show {
  visibility: visible;
  scale: 1;
}

.confirm__modal h2 {
  background: #fff;
  color: #000;
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
}

.modal__content {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.modal__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__buttons a,
.modal__buttons button {
  /* padding-inline: 2rem; */
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
