.btn {
  padding: 0.25rem 0.8rem;
  border: none;
  border-radius: 9px;

  transition: all 0.2s;
}

.btn--small {
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
}

.btn--medium {
  padding: 0.5rem 1rem;
}

.btn--xl {
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
}

.btn--primary {
  background-color: var(--color-danger);
  color: #fff;
}

.btn--primary:hover {
  background-color: var(--color-danger-hover);
}

.btn--secondary {
  background-color: #02864a;
  color: #fff;
}

.btn--secondary:hover {
  background-color: var(--color-success-hover);
}

.btn--neutral {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}
